In [37]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_csv(r"D:\Project\new_cuisine.csv", encoding='UTF-8')

In [39]:
data = df.iloc[:,[0,4]]
data

             DishName                                           DishType
0                Idly  Split urad dal, urad dal, idli rice, thick poh...
1         Sambar Idly  Lentils,spices, herbs, urad dal,Breakfast, sou...
2                Vada  Pigeon pea, chickpea,Potato, Breakfast, southi...
3                Dosa  urad dal,blend rice, Breakfast, southindian br...
4        Mysore Bonda        Rice flour,Breakfast, southindian breakfast
..                ...                                                ...
150  Chocolate Pastry                         desserts, side dish, sweet
151       Malai Kulfi                          desserts, side dish, cold
152       Shahi Tukda                        desserts, side dish,sweeet,
153      Carrot Halwa                  desserts, side dish, halwa, sweet
154  Moong daal Halwa                  desserts, side dish, halwa, sweet

[155 rows x 2 columns]

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [41]:
tfidf = TfidfVectorizer(stop_words="english")

In [42]:
tfidf_matrix = tfidf.fit_transform(data["DishType"])

In [43]:
from sklearn.metrics.pairwise import linear_kernel

In [44]:
cos_sim_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

In [45]:
data_index = pd.Series(data.index, index =data["DishName"]).drop_duplicates()

In [46]:
def find_food(Name, topN):
  data_id = data_index[Name]
  cosine_scores = list(enumerate(cos_sim_matrix[data_id]))
  cosine_scores = sorted(cosine_scores, key = lambda x:x[1], reverse = True)
  cosine_scores_N = cosine_scores[0: topN+1]
  data_idx = [i[0] for i in cosine_scores_N]
  data_scores = [i[1] for i in cosine_scores_N]
  
  data_similar = pd.DataFrame(columns = ["DishName","Scores"])
  data_similar["DishName"] = data.loc[data_idx, "DishName"]
  data_similar["Scores"] = data_scores

  print(data_similar)

In [47]:
find_food("Mysore Bonda", topN = 10)

          DishName    Scores
4     Mysore Bonda  1.000000
13         Paratha  0.811810
10       Idiyappam  0.782631
6   Only Pesarattu  0.685123
8           Pongal  0.661735
14    Methi Thepla  0.648595
15     Poori Bhaji  0.648595
3             Dosa  0.590410
9            Appam  0.580975
11         Parotta  0.576119
16            Poha  0.469657

In [48]:
find_food("Veg Cutlet", topN =10)

            DishName    Scores
22        Veg Cutlet  1.000000
39    Veg Manchurian  0.593394
43   Chilli Mushroom  0.584488
23     Veg Dumplings  0.579886
38  Veg Spring Rolls  0.552068
44     Chilli Paneer  0.523690
41         Baby Corn  0.506590
24        Veg Pakora  0.469824
90         Veg Kofta  0.429360
97     Mix Veg Curry  0.429360
27       Seekh Kabab  0.401321

In [49]:
# display(find_food("Fish tikka", topN =10))
# display(find_food("Aloo Gobi Masala", topN =10))
# display(find_food("Mutton RR", topN =5))

In [50]:
import pickle

In [58]:
pickle.dump(data, open('food.pkl','wb'))

In [52]:
# data["DishName"].values

In [53]:
# data.to_dict()

In [54]:
# pickle.dump(data.to_dict(), open('foods.pkl','wb'))

In [59]:
pickle.dump(cos_sim_matrix, open('similarity.pkl','wb'))

In [56]:
# data.iloc[15].DishName